.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: min(100vw, 100vh); 
  height: min(100vw, 100vh);
  gap: 1em;
  font-size: xx-large;
}

.board {
  position: relative;
  flex-grow: 1;
  max-height: 70%;
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  background: #D3BE5C;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  border: 2px solid #8C7F42;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(150, 150, 150, 0.8);
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.tile-moving {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  transition: transform 0.05s;
  box-shadow: 0px 4px #998f39;
  font-size: xx-large;
}

.tile0 {
  background: #E6D279
}

.tile2 {
  background: #4dbf4d;
}

.tile4 {
  background: #2db2c8;
}

.tile8 {
  background: darkgoldenrod;
}

.tile16 {
  background: yellowgreen;
}

.tile32 {
  background: green;
}

.tile64 {
  background: #b588df;
}

.tile128 {
  background: #d76730;
}

.tile256 {
  background: #3d843d;
}

.tile512 {
  background: #4141d7;
}

.tile1024 {
  background: #d94444;
}

.tile2048 {
  background: gold;
}
